*{
	margin: -71px  14px -132px;
	padding: 0px;
}

body{

	background:url(../img/bcg.jpg);
	background-repeat: no-repeat;

	background-size: cover;
}

.loginbox{
	width: 650px;
	margin: 3%;
}
.loginbox {
	width: 320px;
	height: 450px;
	background: #000;
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 70px 30px;
}
.container logo {
	margin: 0, 10px;
	
}
.container h1{
	margin: 0;
	padding: 0 0  19px;
	text-align: center;
	font-size: 22px;
}

.container input {
	width: 100%;
	margin-bottom: 5px;

}
.container input[type="text"], input[type="password"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px; 
	color: #fff;
	font-size: 16px; 
}
.container input[type="submit"]
{
	border: none;
	outline: none;
	height: 30px;
	width: 120px;
	background: #fb2525;
	color: #fff;
	font-size: 16px;
	border-radius: 10px;
	cursor: pointer;
	background-color: #fb2525;
	background: #ffc107;
	color: #000; 
}


.loginbox a:hover
{
	color: #ffc107;
} 
.container{
	width:100px;
	display:block;
	margin:15px 45px;

}
.container h1{
	width:100px;
	display:block;
	margin: 0 30px;


} 

.admin {
	width:100px;
	display:block;
	margin:0px 30px;

}
.container h6{
	padding: 100px auto;
	margin: 10px -80px 10px -30px;


} 
